*{
    box-sizing:border-box;
}

/*
header settings
*/
header{
    padding:20px;
    border-bottom:1px solid black;
}

/*
navbar settings
*/
nav{
    border-bottom:1px solid black;
}


/*
footer settings
*/
footer{
    border-top:1px solid black;
    padding:20px;
}