*{
    box-sizing:border-box;
    font-family: 'Open Sans', sans-serif;
}

/*
header settings
*/
header{
    padding:5px;
}
.brew-it{
    font-weight:900;
    font-family:'Raleway',sans-serif;
    font-size:34px;
    font-style:italic;
    color:rgb(114,63,46);
}

.header-span{
    font-family: 'Dancing Script', cursive;
    color:rgb(51,28,20);
    font-size:28px;
}

/*
navbar settings
*/
nav{
    border-bottom:2px solid rgb(114,63,46);
}
.navbar-brand{
    color:rgb(51,28,20) !important;
    font-family:'Raleway',sans-serif;
}
.nav-link{
    color:rgb(86,116,150);
}