#form-wrapper{
    padding:20px;
    margin-top:10vh;
    color:rgb(51,28,20);
}

#form-wrapper h2{
    color:rgb(51,28,20);
}
#form-wrapper label{
    color:rgb(178,139,80);
    font-weight:bold;
}
#submit{
    background-color:rgb(51,28,20);
    color:rgb(219,190,147);
}
#submit:hover{
    background-color:rgba(51,28,20,0.95);
}
#error-wrapper h5{
    color:rgb(51,28,20);
}
#error-wrapper li{
    color:rgb(86,116,150);
}